.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.cardlist {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  width: 600px;
}
.card {
  width: 100px;
  height: 100px;
  background-color: #dfe6e9;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.5s;
  border-radius: 5px;
  cursor: pointer;
}
.rotate {
  transform: rotateY(180deg);
}

.frontend,
.backend {
  width: 100px;
  height: 100px;
  position: absolute;
  backface-visibility: hidden;
}
.backend {
  transform: rotateY(180deg);
}
img {
  width: 100px;
  height: 100px;
}
.restart {
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
}
.score {
  padding: 20px;
  margin: 20px;
}
